# PostgreSQL
DB_USER=postgres
DB_PASSWORD=cambiar_esto
DB_NAME=aqp_aforo

# JWT
JWT_SECRET=generar_con_openssl_rand_-hex_32
JWT_EXPIRES_IN=8h

# CORS
CORS_ORIGIN=https://aforos.tudominio.com

# Google OAuth
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com

# DNI / RENIEC
DNI_API_BASE_URL=https://api.decolecta.com
DNI_API_TOKEN=sk_tu_token_real
DNI_API_TIMEOUT=10000
